<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function checkPost() {
            let f = document.form.signForm;
            if ( f.getElementById("password").value
                != f.getElementById("password2").value ) {
                alert("암호확인을 해주세요.");
            }
        }
    </script>
</head>
<body>
    <div>
        <form name="signForm" method="post" action="/cologin/signUp" onsubmit="return checkPost">
            <label for="loginId">로그인아이디 : </label>
            <input type="text" id="loginId" name="loginId" />
            <label for="password">암호 : </label>
            <input type="text" id="password" name="loginId" />
            <label for="password2">암호확인 : </label>
            <input type="text" id="password2" name="loginId" />
            <label for="name">이름 : </label>
            <input type="text" id="name" name="loginId" />
            <label for="email">이메일 : </label>
            <input type="text" id="email" name="loginId" />
            <input type="submit" value="회원가입" />
        </form>
    </div>
</body>
</html>
